expose:
  Annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-delete-policy: hook-succeeded
  config:
    exposer: Ingress
    http: true
    tlsacme: false

cleanup:
  Args:
    - --cleanup
  Annotations:
    helm.sh/hook: pre-delete
    helm.sh/hook-delete-policy: hook-succeeded

preview:
  appPassword: "123abc"

  mariadb:
    enabled: true
    replication:
      enabled: false
    db:
      name: "node-http-db"
      user: "node-http-user"
      password: "node-http-user-pass"
    master:
      persistence:
        enabled: true
        storageClass: "managed-nfs-storage"
        accessMode: ReadWriteOnce
        size: 8Gi
  image:
    repository:
    tag:
    pullPolicy: IfNotPresent